<div class="jumbotron" style="background-color:white;">
    <div class="row" style="background-color: red;">
        <div class="col-md-6" style="margin-top:15px;margin-bottom:15px;">
            <img class="img-thumbnail" src="~/Content/images/Logo.jpg" />
        </div>
        <div class="col-md-6" style="color:white;margin-top:15px;margin-bottom:15px;">
            <h2>Your Query</h2>
            <form>
                <div class="form-group" style="color:white;">
                    @*<label for="exampleInputEmail1">Email address</label>*@
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="mobile" placeholder="Mobile">
                </div>
                <div class="form-group">
                    <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Name & Message" name="message" rows="5"></textarea>
                </div>
                <button type="submit" class="btn btn-lg btn-danger">Submit</button>
            </form>
        </div>
    </div>
</div>
<div class="row">
    <div class="row" style="padding-bottom:20px;">
        <div class="col-sm-12" style="text-align:center;text-decoration:underline;">
            <h2>Hassle Free Transportation</h2>
        </div>
    </div>
    <div class="row" style="color:rgb(27, 27, 27);">
        <div class="col-md-4" style="text-align:center;">
            <h4>Best Raates, 24x7 Service</h4>
            <img class="img-thumbnail" src="~/Content/images/AllTrucks.jpg" />
        </div>
        <div class="col-md-4" style="text-align:center;">
            <h4>Smooth Shifting Process</h4>
            <img class="img-thumbnail" src="~/Content/images/VehicleLoading50.jpg" />
        </div>
        <div class="col-md-4" style="text-align:center;">
            <h4>Trust Worthy Team</h4>
            <img class="img-thumbnail" src="~/Content/images/Box70.jpg" />
        </div>
    </div>
</div>

<div class="row">
    <div class="row" style="padding-bottom:20px;">
        <div class="col-sm-12" style="text-align:center;text-decoration:underline;">
            <h2>All Kinds of Vehicle Available</h2>
        </div>
    </div>
    <div class="row" style="color:rgb(27, 27, 27);">
        <div class="col-md-4" style="text-align:center;margin-top:20px;">
            @*<h4>Best Raates, 24x7 Service</h4>*@
            <img class="img-thumbnail" src="~/Content/images/canter.jpg" />
        </div>
        <div class="col-md-4" style="text-align:center;margin-top:20px;">
            @*<h4>Smooth Shifting Process</h4>*@
            <img class="img-thumbnail" src="~/Content/images/any.jpg" />
        </div>
        <div class="col-md-4" style="text-align:center;margin-top:20px;">
            @*<h4>Trust Worthy Team</h4>*@
            <img class="img-thumbnail" src="~/Content/images/tata407.jpg" />
        </div>
    </div>
</div>


